<template>
    <div class="h-100 main">
        <div class="p-5 h-100">
            <div class="row h-100">
                <div class="col-md-2">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" v-for="node in nodes">
                            <a href="#" :class="'nav-link' + (currentNode.serial === node.serial ? ' active': '')" v-on:click="() => selectNode(node.serial)">{{ node.nodeName }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" v-for="app in apps">
                            <a href="#" :class="'nav-link' + (currentApp != null ? (currentApp.name === app.name ? ' active': '') : '') + (!app.dashAvailable ? ' text-muted' : '')" v-on:click="() => selectApp(app.name)">{{ app.name }}</a>
                            <ul v-if="currentApp != null && currentApp.name === app.name && quickActions.length > 0" class="nav flex-column">
                                <li class="nav-item" v-for="link in quickActions">
                                    <a href="#" :class="'nav-link' + (actionActive ? ' text-muted' : '')" v-on:click="() => quickAction(link.id)">&nbsp;&nbsp;{{ link.label }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 h-100">
                    <div class="card shadow" v-if="currentApp == null">
                        <div class="card-body">
                            <h3>No app selected</h3>
                            Select an app to administer it.
                        </div>
                    </div>
                    <iframe ref="apphtml" :style="currentApp == null ? 'display: none' : ''"></iframe>
                </div>
            </div>
        </div>
        <div class="classified-banner">
            CONFIDENTIAL - U2F VERIFICATION
        </div>
    </div>
</template>

<script>
    const axios = require('axios').default;
    export default {
        name: "App",
        data: () => ({
            nodes: [],
            currentNode: null,
            apps: [],
            currentApp: null,
            actionActive: false
        }),
        computed: {
            quickActions() {
                return this.currentApp == null ? [] : this.currentApp.webhooks.filter(e => e.type === "shutdown" || e.type === "restart" || e.type === "update" || e.type === "quick_action");
            }
        },
        methods: {
            selectNode(serial) {
                this.currentNode = this.nodes.find(e => e.serial === serial);
                this.loadNodeApps();
            },
            loadNodeApps() {
                this.currentApp = null;
                this.actionActive = false;
                this.apps = [];
                this.$refs.apphtml.srcdoc = null;
                axios.get('/api/apps/' + encodeURIComponent(this.currentNode.serial)).then(e => {
                    if(e.data.error != null || e.data.apps.error != null) return console.error("App loading failed.");
                    this.apps = e.data.apps;
                    console.log("Loaded " + e.data.apps.length + " apps.");
                });
            },
            selectApp(name) {
                let app = this.apps.find(e => e.name === name);
                if(!app.dashAvailable) return;
                this.currentApp = app;
                this.actionActive = false;
                this.loadApp();
            },
            loadApp() {
                axios.get('/api/apps/' + encodeURIComponent(this.currentNode.serial) + '/' + encodeURIComponent(this.currentApp.name)).then(e => {
                    if(e.data.error != null || e.data.dash.error != null) return console.error("Loading HTML for app failed.");
                    this.$refs.apphtml.srcdoc = e.data.dash;
                });
            },
            triggerHook(name, data = {}) {
                console.log('@' + this.currentApp.name + " -> " + name, data);
                return new Promise((res, rej) => {
                    axios.post('/api/apps/' + encodeURIComponent(this.currentNode.serial) + "/" + encodeURIComponent(this.currentApp.name) + "/" + encodeURIComponent(name), JSON.stringify(data), {
                        headers: {
                            "Content-Type": 'application/json'
                        }
                    }).then(e => {
                        let d = e.data;
                        if(d.error != null) return rej(d);
                        res(d);
                        console.log('@' + this.currentApp.name + " <- " + name, d);
                    }).catch(e => rej(e));
                });
            },
            quickAction(name) {
                this.actionActive = true;
                this.triggerHook(name).then(e => {
                    this.actionActive = false;
                });
            }
        },
        mounted() {
            axios.get('/api/nodes').then(e => {
                this.nodes = e.data;
                console.log("Loaded " + e.data.length + " nodes.");
                this.currentNode = e.data[0];
                this.loadNodeApps();
                window.triggerHook = this.triggerHook;
            });
        }
    }
</script>

<style scoped>
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
    .nav-link.text-muted {
        cursor: default;
    }
    .classified-banner {
        position: fixed;
        top: 0;
        background-color: #000000;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }
</style>
