<template>
    <div>
        <div class="container mt-5 mb-5">
            <h1>vCAN U2F</h1>
            <strong>
                Please read the following statement before continuing.
            </strong>
            <hr />
            <p>You are entering an administration system that contains confidential information. Use of this information
             outside of the system is prohibited unless otherwise permitted. Creation, modification, and deletion
                of information within the system is monitored.</p>
            <p>Please utilize discretion. Press the authenticate button below to continue.</p>
            <div class="d-flex justify-content-end">
                <div>
                    <span class="mr-2"><small>{{ type }} | {{ status }}</small></span>
                    <button class="btn btn-primary btn-sm" :disabled="action === null || process" v-on:click="selectOption">Authenticate</button>
                </div>
            </div>
            <div v-if="this.action === 'enroll'">
                <hr />
                You are required to enroll a U2F key before accessing the system to ensure security.
            </div>
        </div>
    </div>
</template>

<script>
    import u2f from './u2flib';
    import base64url from 'base64url';
    export default {
        name: "FidoApp",
        data: () => ({
            type: "Unknown",
            status: "Information Download",
            action: null,
            request: null,
            origin: null,
            process: false,
            challenge_id: null,
            sign: {}
        }),
        mounted() {
            fetch('/api/u2f').then(e => e.json()).then(e => {
                if(e.action === 'enroll') this.type = "Enrollment";
                else this.type = "Login";

                this.status = "Waiting";
                this.action = e.action;
                this.request = e.request;
                this.origin = e.origin;
                this.challenge_id = e.challenge_id;
                this.sign = {requests: e.sign, ids: e.signIds};
                window.b64w = base64url;
            })
        },
        methods: {
            selectOption() {
                switch(this.action) {
                    case 'enroll':
                        return this.beginEnrollment(this.request);
                    case 'login':
                        return this.beginLogin();
                    default:
                        return null;
                }
            },
            beginEnrollment(r) {
                this.process = true;
                this.status = "Requesting enrollment";
                console.log("Sending challenge", r);
                u2f.register(this.origin, [r], [], (e) => {
                    if(e.errorCode) {
                        this.process = false;
                        this.status = "Failure";
                        return;
                    }
                    this.status = "Server Validation";
                    fetch('/api/u2f/enroll', {
                        method: 'POST',
                        body: JSON.stringify({u2f: JSON.stringify(e), cid: this.challenge_id}),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(e => e.json()).then(e => {
                        this.process = true;
                        this.status = "Complete";
                        window.location = "/";
                    });
                });
            },
            beginLogin() {
                this.process = true;
                this.status = "Requesting login";
                console.log("Sending challenge", this.sign);
                u2f.sign(this.origin, this.sign.requests[0].challenge, this.sign.requests, (e) => {
                    if(e.errorCode) {
                        this.process = false;
                        this.status = "Failure";
                        return;
                    }
                    this.status = "Server Validation";
                    fetch('/api/u2f/login', {
                        method: 'POST',
                        body: JSON.stringify({u2f: JSON.stringify(e), cids: this.sign.ids}),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(e => {
                        this.process = true;
                        this.status = "Complete";
                        window.location = "/";
                    });
                });
                /*u2f.register(this.origin, [r], [], (e) => {
                    if(e.errorCode) {
                        this.process = false;
                        this.status = "Failure";
                        return;
                    }
                    this.status = "Server Validation";
                    fetch('/api/u2f/enroll', {
                        method: 'POST',
                        body: JSON.stringify({u2f: e, cid: this.challenge_id}),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(e => e.json()).then(e => {
                        this.process = true;
                        this.status = "Complete";
                        window.location = "/";
                    });
                });*/
            }
        }
    }
</script>

<style scoped>

</style>
